/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* responsive desktop */

@media (min-width:1198px){
    #contactez-nous {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
        background-color: #38586C;
        height: 750px;
        padding: 1px;
    }
    #contactez-nous h1{
        font-size: 51px;
        text-align: center;
        color: #ffffff;
    }
    .formulaire-maps{
        display: flex;
        /* justify-content: space-between; */
    }
    .adresse-icons{
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        width: 500px;
        margin-left: 80px;
    }
    .adresse-icons img{
        width: 50px;
    }
    
    .service-email, .service-call {
        text-align: center;
        padding: 25px;
        background-color: #0C2C43;
        /* font-size: 17px; */
        border-radius: 8px;
        width: 180px;
    }
    .formu{
        margin-top: 30px;
        width: 650px;
        height: 630px;
    }
    .class-form label{
        font-size: 25px;
        color: #ffffff;
        padding-left: 10px;
    }
    
    input{
        height: 35px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding-left: 10px;
        width: 600px;
        margin-top: 8px;
    }
    textarea{
        resize: none;
        height: 35px;
        border: 1px solid #ffffff;
        padding-left: 10px;
        width: 600px;
        border-radius: 8px;
    }
    .class-form{
    display: flex;
        flex-direction: column;
        margin-top: 20px;
        /* background-color: #91ea25; */
        line-height: 20px;
        
    }
    .class-form-message{
        /* background-color: #516eff; */
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        grid-row: 3/5;
        border-radius: 8px;
        margin-top: 20px;
        
    }
    .class-form-message label{
        font-size: 25px;
        padding-left: 10px;
        color: #ffffff;
    }
    .envoyer{
        background: #0C2C43;
        color: #ffffff;
        height: 45px;
        width: 615px;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.3s ease;
        margin-top: 50px;
    }
    .envoyer:hover {
        background: #ffffff;
        color: #0C2C43;
    }
    .send_message{
        display: flex;
        flex-direction: column;
        width: 500px;
        padding-left: 80px;
    }
    .maps .location{
        height: 300px;
        margin-top: 30px;
        width: 400px;
        padding-right: 120px;
    }

    /* nos service */
    
    #services{
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    #services h2{
        margin-top: 50px;
    }
    .blocs{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .blocs .bloc{
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        height: 380px;
        width: 300px;
        border-radius: 10px;
    }
    .bloc img{
        height: 160px;
        border-radius: 50%;
    }
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .blocs .bloc h4 {
        text-align: center;
        font-size: 22px;
        margin-top: 15px;
        color: #18181B;
    }
    .blocs .bloc p{
        text-align: left;
        font-size: 22px;
        margin-top: 10px;
        width: 300px;
        padding-left: 15px;
    }
    
    /* temoignage */
    .clients .testimonial{
        margin-left: 20px;
    }
    .clients{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/* toggle */
.toggle_menu {
    display: none;
}

/* header */

    header{
        background-color: #0C2C43;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding: 10px 0;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }

header img {
    max-width: 200px;
    height: 50px;
    border-radius: 50%;
    margin-left: 70px;
}

nav ul {
    list-style: none;
    /* background-color: aqua; */
    margin-right: 70px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}
.menu .border-link-acceuil{
    background-color: #38586C;
    padding: 10px 20px;
    border: none;
    border-radius: 20px 5px;
    cursor: pointer;
    color: #ffffff;
}
.menu .border-link {
    background-color: #D9E5C4;
    padding: 10px 20px;
    border: none;
    border-radius: 20px 5px;
    cursor: pointer;
    color: #38586C;
}



/* hero */

#hero {
    background: url('images/fond.jpg') center/cover no-repeat;
    color: #fff;
    padding: 130px 0;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}
.section-une h1{
    margin-top: 10px;
    font-size: 50px;
    width: 600px;
    color: #ffffff;
}
.section-une p{
    font-size: 20px;
    width: 450px;
    color: #ffffff;
}
.section-une .back-titre{
    width: 600px;
    margin-left: 5%;
    padding: 10px;
    background-color: rgba(56, 88, 108, 0.8);
}
.btn {
    display: inline-block;
    background: #ffffff;
    color: #0C2C43;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 25px;
}

.btn:hover {
    background: #0C2C43;
    color: #ffffff;
}

/* Section Services */

#services{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}
#services h2{
    margin-top: 50px;
}
.blocs{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}
.blocs .bloc{
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    height: 380px;
    /* width: 400px; */
    border-radius: 10px;
}
.bloc img{
    height: 160px;
    border-radius: 50%;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocs .bloc h4 {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    color: #18181B;
}
.blocs .bloc p{
    text-align: left;
    font-size: 22px;
    margin-top: 10px;
    width: 280px;
    padding-left: 15px;
}

/* Section  À propos de nous */

#a-propos{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    padding: 25px;
    margin-top: 100px;
}
.container h2{
    text-align: center;
    font-size: 51px;
    margin-top: 0px;
}
.container .nous{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.container .right-photo img{
    width: 500px;
    height: 300px;
    margin-right: 55px;
    border-radius: 20px;
}
.container .left-paragraphe{
    width: 600px;
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 30px;

}

/* temoignage */

#temoignage{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    /* background-color: rgb(255, 145, 0); */
    height: 750px;
    /* margin-top: 20px; */
}
#temoignage h1{
    display: flex;
    font-size: 51px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #0C2C43;
}
#temoignage .clients{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 80px;
}
.testimonial{
    margin-top: 50px;
}
.images-temoi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial .images-temoi img{
    height: 140px;
}
.testimonial img{
    
    border-radius: 50%;
    /* margin-left: 60px; */
    margin-top: -50px;
}
.testimonial h3{
    font-size: 25px;
    text-align: center;
}
.testimonial p{
    font-size: 20px;
    text-align: left;
}

.clients .testimonial{
    border-top: 20px solid #0C2C43 ;
    border-bottom: 20px solid #0C2C43 ;
    border-left: 2px solid #0C2C43 ;
    border-right: 2px solid #0C2C43 ;
    height: 320px;
    width: 320px;
    border-radius: 30px;
    padding: 60px 20px;
}


/* contactez-nous */

#contactez-nous {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: #38586C;
    height: 750px;
    padding: 1px;
}
#contactez-nous h1{
    font-size: 51px;
    text-align: center;
    color: #ffffff;
}
.formulaire-maps{
    display: flex;
    justify-content: space-between;
}
.adresse-icons{
    display: flex;
    color: #ffffff;
    /* margin-left: -25px; */
}
.adresse-icons img{
    width: 50px;
}

.service-email, .service-call {
    text-align: center;
    padding: 25px;
    background-color: #0C2C43;
    border-radius: 8px;
}


.formu{
    margin-top: 30px;
    width: 650px;
    height: 630px;
}
.class-form label{
    font-size: 25px;
    color: #ffffff;
    padding-left: 10px;
}

input{
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding-left: 10px;
    width: 490px;
    margin-top: 8px;
}
textarea{
    resize: none;
    height: 35px;
    border: 1px solid #ffffff;
    padding-left: 10px;
    width: 490px;
    border-radius: 8px;
}
.class-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: #91ea25; */
    line-height: 20px;
    
}
.class-form-message{
    /* background-color: #516eff; */
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 3/5;
    border-radius: 8px;
    margin-top: 20px;
    
}
.class-form-message label{
    font-size: 25px;
    padding-left: 10px;
    color: #ffffff;
}
.envoyer{
    background: #0C2C43;
    color: #ffffff;
    height: 45px;
    width: 505px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 50px;
}
.envoyer:hover {
    background: #ffffff;
    color: #0C2C43;
}
.send_message{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.maps .location{
    height: 535px;
    margin-top: 30px;
    min-width: 90%;
}
.maps {
    display: flex;
    justify-content: center;
}


/* footer */

#footer{
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.sociaux img{
    height: 25px;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
.sociaux{
    display: flex;
    justify-content: center;
    align-items: center;

}

.link, .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin-right: 40px;
}






/* reponsive mobile*/

@media (max-width:598px) {
    .toggle_menu {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        bottom: 60px;
        left: 85%;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 28px;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #ffffff;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #ffffff;
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #ffffff;
        border-radius: 6px;
        transform: translateY(10px);
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 75px;
        right: 0;
        height: 300px;
        width: 80%;
        align-items: center;
        /* justify-content: center; */
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
        margin-right: 40px;
    }
    header .menu.responsive li{
        margin: 15px 0;
    }
    header img {
        max-width: 200px;
        height: 50px;
        border-radius: 50%;
        margin-left: 25px;
    }


    header .menu{
        display: none;
    }

    /* hero */
    #hero {
        background: url('Images/fond.jpg') center/cover no-repeat;
        color: #fff;
        padding: 20px 0;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    .section-une h1{
        margin-top: 10px;
        font-size: 30px;
        width: 95%;
        color: #ffffff;
    }
    .section-une p{
        font-size: 15px;
        width: 85%;
        color: #ffffff;
    }
    .section-une .back-titre{
        width: 80%;
        margin-left: 5%;
        padding: 10px;
        background-color: rgba(56, 88, 108, 0.8);
    }
    .btn {
        display: inline-block;
        background: #ffffff;
        color: #0C2C43;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 10px;
        transition: background 0.3s ease;
        margin-left: 25px;
        margin-top: 50px;
        font-size: 18px;
    }
    .btn:hover {
        background: #0C2C43;
        color: #ffffff;
    }
    /* Section Services */

    #services{
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    
    
    #services h2{
        margin-top: 60px;
    }
    
    .blocs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
        

    }
    .blocs .bloc{
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        height: 350px;
        width: 90%;
        border-radius: 10px;
        margin: 5%;
        padding-right: 12px;
    
    }
    .bloc img{
        height: 160px;
        border-radius: 50%;
        /* margin-left: 30%; */
    }
    .blocs .bloc h4 {
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
        color: #18181B;
    }
    .blocs .bloc p{
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
        width: 95%;
        padding-left: 5%;
    }

    /* Section  À propos de nous */

    #a-propos{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    padding: 25px;
    margin-top: 50px;
    }
    .container .right-photo img{
        display: none;
    }
    .container .left-paragraphe{
        display: flex;
        text-align: center;
        text-align: justify;
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -50px;
    }

    /* temoignage */

    #temoignage h1{
        display: flex;
        font-size: 51px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #0C2C43;
    }
    #temoignage .clients{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 15%;
        margin-right: 15%; */
    }

    .testimonial img{
        height: 150px;
        border-radius: 50%;
        /* margin-left: 60px; */
        margin-top: -50px;
    }
    /* contactez-nous */

    #contactez-nous {
        margin-left: 5%;
        margin-right: 5%;
        /* width: auto; */
        background-color: #38586C;
        height: 1300px;
        margin-top: 1060px;
    }
    .formu{
        width: 90%;
        /* background-color: aqua; */
    }
    .formulaire-maps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .adresse-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .service-email, .service-call {
        text-align: center;
        padding: 25px 0px;
        background-color: #0C2C43;
        border-radius: 8px;
        width: 231px;
    }
    .service-email{
        margin-right: 10px;
    }
    
    .service-email p, .service-call p{
        font-size: 2vw;
    }
    input{
        height: 35px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding-left: 10px;
        width: 96%;
        margin-top: 20px;
        /* margin-left: -6%; */
    }
    textarea{
        resize: none;
        height: 35px;
        padding-left: 10px;
        width: 96%;
        border: 1px solid #ffffff;
        border-radius: 8px;
        /* margin-left: -6%; */
    }
    .envoyer{
        background: #0C2C43;
        color: #ffffff;
        height: 45px;
        width: 100%;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.3s ease;
        margin-top: 25px;
        /* margin-left: -6%; */
    }
        .send_message{
            width: 100%;
        }
    .class-form label{
        font-size: 25px;
        color: #ffffff;
        width: 100%;
    }
    .class-form-message label{
        font-size: 25px;
        color: #ffffff;
        width: 100%;
    }
    .maps{
        /* margin-left: 10%;
        margin-right: 10%; */
        margin-top: -80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* .maps .location{
        height: 580px;
        width: 100%;
        margin-top: 55px;
    } */
    
    /* footer */
    #footer h3{
        font-size: 2vw;
    }
    .sociaux img{
        height: 20px;
    }
}





/* reponsive tablet*/

@media (min-width:598px) and (max-width:1198px){

    .toggle_menu {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        bottom: 60px;
        left: 85%;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 28px;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #ffffff;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #ffffff;
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #ffffff;
        border-radius: 6px;
        transform: translateY(10px);
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 75px;
        right: 0;
        height: 300px;
        width: 80%;
        align-items: center;
        /* justify-content: center; */
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
        margin-right: 40px;
    }
    header .menu.responsive li{
        margin: 15px 0;
    }
    header img {
        max-width: 200px;
        height: 50px;
        border-radius: 50%;
        margin-left: 25px;
    }


    header .menu{
        display: none;
    }

    /* hero */
    #hero {
        background: url('Images/fond.jpg') center/cover no-repeat;
        color: #fff;
        padding: 20px 0;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    .section-une h1{
        margin-top: 10px;
        /* font-size: 35px; */
        width: 90%;
        color: #ffffff;
    }
    .section-une p{
        font-size: 18px;
        width: 75%;
        color: #ffffff;
    }
    .section-une .back-titre{
        width: 60%;
        margin-left: 5%;
        padding: 10px;
        background-color: rgba(56, 88, 108, 0.8);
    }
    .btn {
        display: inline-block;
        background: #ffffff;
        color: #0C2C43;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 10px;
        transition: background 0.3s ease;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 18px;
    }
    .btn:hover {
        background: #0C2C43;
        color: #ffffff;
    }
    /* Section Services */

    #services{
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    
    
    #services h2{
        margin-top: 60px;
    }
    
    .blocs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;
        

    }
    .blocs .bloc{
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        height: 350px;
        width: 500px;
        border-radius: 10px;
        margin: 5%;
        padding-right: 12px;
}
    .bloc img{
        height: 160px;
        border-radius: 50%;
        /* margin-left: 30%; */
    }
    .blocs .bloc h4 {
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
        color: #18181B;
    }
    .blocs .bloc p{
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
        width: 95%;
        padding-left: 5%;
    }

    /* Section  À propos de nous */

    #a-propos{
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    padding: 25px;
    margin-top: 50px;
    }
    .container .right-photo img{
        display: none;
    }
    .container .left-paragraphe{
        display: flex;
        text-align: center;
        text-align: justify;
        font-size: 30px;
        width: 90%;
        margin-right: 55px;
        /* margin-left: 5%;
        margin-right: 5%; */
        margin-top: -50px;
    }

    /* temoignage */

    #temoignage h1{
        display: flex;
        font-size: 51px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #0C2C43;
    }
    #temoignage .clients{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 15%;
        margin-right: 15%; */
    }
    /* contactez-nous */

    #contactez-nous {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
        background-color: #38586C;
        height: 1300px;
        margin-top: 1060px;
    }
    .formu{
        width: 90%;
    }
    .formulaire-maps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .adresse-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    
    .service-email, .service-call {
        text-align: center;
        padding: 25px 0px;
        background-color: #0C2C43;
        border-radius: 8px;
        width: 231px;
    }
    .service-email{
        margin-right: 20px;
    }
    
    .service-email p, .service-call p{
        font-size: 1.3vw;
    }
    input{
        height: 35px;
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding-left: 10px;
        width: 96%;
        margin-top: 8px;
    }
    textarea{
        resize: none;
        height: 35px;
        padding-left: 10px;
        width: 96%;
        border: 1px solid #ffffff;
        border-radius: 8px;
    }
    .envoyer{
        background: #0C2C43;
        color: #ffffff;
        height: 45px;
        width: 100%;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.3s ease;
        margin-top: 25px;
        
    }
    .class-form label{
        font-size: 25px;
        color: #ffffff;
        width: 100%;
    }
    .class-form-message label{
        font-size: 25px;
        color: #ffffff;
        width: 100%;
    }
    .send_message{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        /* justify-content: center;
        align-items: center; */
    }
    /* .class-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .class-form-message {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .maps{
        /* margin-left: 10%;
        margin-right: 10%; */
        margin-top: -80px;
        /* width: 500px; */
        /* width: 90%; */
        display: flex;
        justify-content: center;
    }
    .maps .location{
        width: 500px;
    }
    #footer h3{
        font-size: 1.3vw;
    }
    .sociaux img{
        height: 20px;
    }
    
}








